
<app-navBar> </app-navBar>
<div class = "body-about-page">
    <div class="about-container">
        <h1>About Premios Miscelánea</h1>
        <p>
            Premios Miscelánea is a platform dedicated to celebrating and recognizing the best in the world of gaming. Our
            mission is to provide gamers with a space to discover, vote for, and celebrate their favorite games across
            various categories.
        </p>

        <h2>Our Story</h2>
        <p>
            Founded in 2026, Premios Miscelánea was born out of a passion for gaming and a desire to create a
            community-driven awards platform. We believe that gamers should have a voice in recognizing the incredible work
            of game developers and the impact games have on our lives.
        </p>

        <h2>How It Works</h2>
        <p>
            Each year, we curate a list of nominated games across multiple categories, including Best Game, Best Art
            Direction, Best Storytelling, and more. Gamers can then vote for their favorites, and the winners are announced
            at our annual awards ceremony.
        </p>

        <h2>Join Us</h2>
        <p>
            Whether you're a casual gamer or a hardcore enthusiast, we invite you to join our community and be part of the
            celebration. Follow us on social media, participate in our voting process, and help us honor the best in gaming!
        </p>
    </div>
</div>
<app-footer></app-footer>