<div class="home">


    <app-navBar></app-navBar>

    

    

    <!-- HERO -->
    <section class="hero">
        <h1>Discover and Rate Your Favorite Games</h1>
        <p>Explore, vote and share your opinion about the best games.</p>
    </section>

    <!-- GAME LIST -->
    <section class="game-list">

        <h2>Popular Games</h2>

        <div class="games-grid">

            <!-- CARD -->
            <div class="game-card">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/store/software/switch/70010000017486/ce2588bffd4be4a6f375a6e2954dc7de7b8ee45281d8f6fcf79d7f391221f793" alt="game" />
                <h3>Game Title</h3>

                <div class="card-rating">
                    ★★★★☆
                </div>
            </div>

            <div class="game-card">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/store/software/switch/70010000017486/ce2588bffd4be4a6f375a6e2954dc7de7b8ee45281d8f6fcf79d7f391221f793" alt="game" />
                <h3>Game Title</h3>

                <div class="card-rating">
                    ★★★☆☆
                </div>
            </div>

            <div class="game-card">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/store/software/switch/70010000017486/ce2588bffd4be4a6f375a6e2954dc7de7b8ee45281d8f6fcf79d7f391221f793" alt="game" />
                <h3>Game Title</h3>

                <div class="card-rating">
                    ★★★★★
                </div>
            </div>

            <div class="game-card">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/store/software/switch/70010000017486/ce2588bffd4be4a6f375a6e2954dc7de7b8ee45281d8f6fcf79d7f391221f793" alt="game" />
                <h3>Game Title</h3>

                <div class="card-rating">
                    ★★★★☆
                </div>
            </div>

        </div>

    </section>

    

</div>

<app-footer></app-footer>