<div class="home">


    <app-navBar></app-navBar>

    

    

    <!-- HERO -->
    <section class="hero">
        <h1>Discover and Rate Your Favorite Games</h1>
        <p>Explore, vote and share your opinion about the best games.</p>
    </section>

    <!-- SEARCH BAR -->
    <section class="search-section">
        <input 
            type="text" 
            placeholder="Search games by title..."
            [(ngModel)]="searchQuery"
            class="search-bar"
        />
    </section>

    <!-- GAME LIST -->
    <section class="game-list">

        <h2>Popular Games</h2>

        <div class="games-grid">

            <!-- CARD - Loop through games -->
            @for (game of ((games | filterGames: searchQuery)); track game.id) {
                <div class="game-card" (click)="goToGamePage(game)" style="cursor: pointer;">
                    <img [src]="game.coverImage" [alt]="game.title" />
                    <h3>{{ game.title }}</h3>

                    <div class="card-rating">
                        @for (star of stars; track star) {
                            <span [class.filled]="star <= game.rating">★</span>
                        }
                    </div>
                </div>
            }

        </div>

    </section>

    

</div>

<app-footer></app-footer>